---
import Layout from "@/layouts/Layout.astro";
import Title from "@/components/pages/Title.astro";

import { getCollection, render } from "astro:content";
import Footer from "@/components/Footer.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}
const { post } = Astro.props;
const { data } = post;

const { Content } = await render(post);
---

<Layout>
  <div
    class="absolute inset-0 max-w-[650px] mx-auto max-[690px]:mx-4 pointer-events-none overflow-hidden"
  >
    <svg
      data-direction="left"
      data-variant="full-screen"
      class="absolute pointer-events-none z-10 text-[#ddb3ff] dark:text-neutral-600 left-0 top-0 h-full"
      width="1"
      height="100%"
      viewBox="0 0 1 100"
      preserveAspectRatio="none"
      style="width:1px"
      ><line
        x1="0.5"
        y1="0"
        x2="0.5"
        y2="100"
        stroke="currentColor"
        stroke-width="1"
        stroke-dasharray="6 6"
        vector-effect="non-scaling-stroke"></line></svg
    ><svg
      data-direction="right"
      data-variant="full-screen"
      class="absolute pointer-events-none z-10 text-[#ddb3ff] dark:text-neutral-600 right-0 top-0 h-full"
      width="1"
      height="100%"
      viewBox="0 0 1 100"
      preserveAspectRatio="none"
      style="width:1px"
      ><line
        x1="0.5"
        y1="0"
        x2="0.5"
        y2="100"
        stroke="currentColor"
        stroke-width="1"
        stroke-dasharray="6 6"
        vector-effect="non-scaling-stroke"></line></svg
    >
  </div>
  <main class="relative max-w-[650px] w-full mx-auto py-5 lg:py-[100px]">
    <Title data={data} />
    <article
      class="relative prose dark:prose-invert max-w-none max-[690px]:px-8 px-4 py-4 w-full prose-video:mx-auto prose-video:rounded-[10px] prose-video:w-full prose-hr:my-2 prose-blockquote:text-neutral-600 dark:prose-blockquote:text-neutral-400"
    >
      <Content />

      <div
        class="flex items-center justify-between w-full font-normal gap-3 mb-4"
      >
        {
          data.prev && (
            <a
              href={`/blog/${data.prev}`}
              class="group flex items-center justify-center gap-1 select-none font-mono z-20 text-sm py-1.5 px-1 w-full sm:w-1/3 bg-neutral-600 dark:bg-neutral-400 text-neutral-200 dark:text-neutral-800 no-underline hover:underline rounded-[10px]"
            >
              Anterior
              <svg
                class="size-3 shrink-0 text-current -rotate-90 transition-all duration-300 group-hover:-rotate-135 dark:group-hover:text-neutral-700 group-hover:text-neutral-300"
                viewBox="0 0 24 24"
                fill="none"
              >
                <path
                  d="M7 17L17 7M17 7H7M17 7V17"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </a>
          )
        }
        {
          data.next && (
            <a
              href={`/blog/${data.next}`}
              class="group flex items-center justify-center gap-1 select-none font-mono z-20 text-sm py-1.5 px-1 w-full sm:w-1/3 bg-neutral-600 dark:bg-neutral-400 text-neutral-200 dark:text-neutral-800 no-underline hover:underline rounded-[10px]"
            >
              Siguiente
              <svg
                class="size-3 shrink-0 text-current transition-all duration-300 group-hover:rotate-45 dark:group-hover:text-neutral-700 group-hover:text-neutral-300"
                viewBox="0 0 24 24"
                fill="none"
              >
                <path
                  d="M7 17L17 7M17 7H7M17 7V17"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </a>
          )
        }
      </div>
      <svg
        data-direction="bottom"
        data-variant="full-screen"
        class="absolute pointer-events-none z-10 text-[#ddb3ff] dark:text-neutral-600 bottom-0 w-full"
        width="100%"
        height="1"
        viewBox="0 0 100 1"
        preserveAspectRatio="none"
        style="left:50%;transform:translateX(-50%);width:100vw"
        ><line
          x1="0"
          y1="0.5"
          x2="100"
          y2="0.5"
          stroke="currentColor"
          stroke-width="1"
          stroke-dasharray="6 6"
          vector-effect="non-scaling-stroke"></line></svg
      >
    </article>

    <Footer />
  </main>
</Layout>
