@import "tailwindcss";

@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --animate-fade-in-fast: fade-in-up 0.5s ease-in-out;
  --animate-fade-in: fade-in-up 0.7s ease-in-out;
  --animate-fade-in-slow: fade-in-up 1.1s ease-in-out;
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: 0 0px;
  }
}

@keyframes reveal {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-reveal {
  animation: reveal linear both;
  animation-timeline: view();
  animation-range: entry 20% cover 30%;
}
