---
import Layout from "@/layouts/Layout.astro";

import { Novatrix, Opulento } from "uvcanvas";

import Hello from "@/components/Hello.astro";
import About from "@/components/About.astro";
import Tech from "@/components/ui/Tech.astro";
import Projects from "@/components/Projects.astro";
import Blog from "@/components/Blog.astro";
import Footer from "@/components/Footer.astro";
---

<Layout>
  <div
    class="absolute inset-0 max-w-[650px] mx-auto max-[690px]:mx-4 pointer-events-none overflow-hidden"
  >
    <svg
      data-direction="left"
      data-variant="full-screen"
      class="absolute pointer-events-none z-10 text-[#ddb3ff] dark:text-neutral-600 left-0 top-0 h-full"
      width="1"
      height="100%"
      viewBox="0 0 1 100"
      preserveAspectRatio="none"
      style="width:1px"
      ><line
        x1="0.5"
        y1="0"
        x2="0.5"
        y2="100"
        stroke="currentColor"
        stroke-width="1"
        stroke-dasharray="6 6"
        vector-effect="non-scaling-stroke"></line></svg
    ><svg
      data-direction="right"
      data-variant="full-screen"
      class="absolute pointer-events-none z-10 text-[#ddb3ff] dark:text-neutral-600 right-0 top-0 h-full"
      width="1"
      height="100%"
      viewBox="0 0 1 100"
      preserveAspectRatio="none"
      style="width:1px"
      ><line
        x1="0.5"
        y1="0"
        x2="0.5"
        y2="100"
        stroke="currentColor"
        stroke-width="1"
        stroke-dasharray="6 6"
        vector-effect="non-scaling-stroke"></line></svg
    >
  </div>
  <main class="max-w-[650px] w-full mx-auto py-5 lg:py-[100px]">
    <Hello />
    <About />
    <section
      class="animate-fade-in-slow flex items-center justify-center relative w-full p-2 max-[690px]:py-2"
    >
      <svg
        data-direction="bottom"
        data-variant="full-screen"
        class="absolute pointer-events-none z-10 text-[#ddb3ff] dark:text-neutral-600 bottom-0 w-full"
        width="100%"
        height="1"
        viewBox="0 0 100 1"
        preserveAspectRatio="none"
        style="left:50%;transform:translateX(-50%);width:100vw"
        ><line
          x1="0"
          y1="0.5"
          x2="100"
          y2="0.5"
          stroke="currentColor"
          stroke-width="1"
          stroke-dasharray="6 6"
          vector-effect="non-scaling-stroke"></line></svg
      >
      <div
        class="block dark:hidden bg-[#ddb3ff] w-[90%] lg:w-full h-[150px] sm:h-[200px] md:h-[270px]"
      >
        <Novatrix client:only="react" />
      </div>
      <div
        class="hidden dark:block bg-neutral-600 w-[90%] lg:w-full h-[150px] sm:h-[200px] md:h-[270px]"
      >
        <Opulento client:only="react" />
      </div>
    </section>
    <Tech />
    <Projects />
    <Blog />
    <Footer />
  </main>
</Layout>
