---
import Yo from "@/assets/photos/yo.jpg";
---

<article
  class="text-xs md:text-sm text-neutral-600 dark:text-neutral-400 font-medium leading-5 max-[690px]:px-8 px-4 py-4 flex flex-col md:flex-row items-center justify-between gap-8"
>
  <!-- Texto: en móvil aparece primero (order-1), en md aparece segundo (md:order-2) -->
  <div class="order-2 md:order-1 w-[90%] md:w-full">
    <p class="animate-fade-in-slow">
      Soy un programador e instructor de programación de Alberti, Buenos Aires.
    </p>
    <p class="animate-fade-in-slow mt-0.5">
      Empecé a programar cuando tenía 13 años y desde entonces encontré en el
      código un espacio de creatividad, curiosidad infinita y construcción
      constante. Además de mi trabajo como desarrollador, soy profesor de
      programación para niños, adolescentes y adultos en mi ciudad.
    </p>
    <p class="animate-fade-in-slow mt-0.5">
      Mi objetivo es seguir creciendo como desarrollador y ayudar a que más
      personas descubran la programación como una herramienta para pensar, crear
      y transformar.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src={Yo.src}
    alt="Bruno García"
    class="animate-fade-in order-1 md:order-2 object-cover w-40 p-1 rotate-3 aspect-square rounded-2xl bg-[#ddb3ff] dark:bg-neutral-600"
    style="object-position: 50% 50%"
  />
</article>
