---
import Github from "@/assets/Github.astro";
import Instagram from "@/assets/Instagram.astro";
import Linkedin from "@/assets/Linkedin.astro";
import ButtonTheme from "./ui/ButtonTheme.astro";
---

<div
  class="relative w-full flex items-center justify-between max-[690px]:px-8 px-4 py-4"
>
  <svg
    data-direction="top"
    data-variant="full-screen"
    class="absolute pointer-events-none z-10 text-[#ddb3ff] dark:text-neutral-600 top-0 w-full"
    width="100%"
    height="1"
    viewBox="0 0 100 1"
    preserveAspectRatio="none"
    style="left:50%;transform:translateX(-50%);width:100vw"
    ><line
      x1="0"
      y1="0.5"
      x2="100"
      y2="0.5"
      stroke="currentColor"
      stroke-width="1"
      stroke-dasharray="6 6"
      vector-effect="non-scaling-stroke"></line></svg
  ><svg
    data-direction="bottom"
    data-variant="full-screen"
    class="absolute pointer-events-none z-10 text-[#ddb3ff] dark:text-neutral-600 bottom-0 w-full"
    width="100%"
    height="1"
    viewBox="0 0 100 1"
    preserveAspectRatio="none"
    style="left:50%;transform:translateX(-50%);width:100vw"
    ><line
      x1="0"
      y1="0.5"
      x2="100"
      y2="0.5"
      stroke="currentColor"
      stroke-width="1"
      stroke-dasharray="6 6"
      vector-effect="non-scaling-stroke"></line></svg
  ><div
    class="flex sm:items-center sm:flex-row flex-col justify-between w-full group"
    style="opacity: 1; transform: none; "
  >
    <div class="flex items-center md:gap-4 gap-2">
      <div
        class="animate-fade-in-fast relative w-[60px] h-10 sm:w-20 sm:h-[60px] bg-[#ddb3ff] dark:bg-neutral-600 flex items-center justify-center overflow-hidden rounded-[10px]"
      >
        <div
          class="absolute inset-0"
          style="background-image: url('/favicon.png'); background-position: center; background-repeat: no-repeat; background-size: cover; object-fit: cover;"
        >
        </div>
      </div>
      <div class="flex flex-col items-start w-full">
        <h1
          class="flex items-center gap-1 animate-fade-in-fast md:text-xl text-lg font-medium text-neutral-800 dark:text-neutral-300 w-full"
        >
          <span class="w-full">¡Hola! Soy Bruno</span>
          <span class="text-xs md:text-sm">
            <ButtonTheme showText={true} />
          </span>
        </h1><a
          href="https://drive.google.com/file/d/1DE8NaqycGrOkszgi04t4UMw3EkHcPamw/view?usp=sharing"
          target="_blank"
          class="animate-fade-in md:text-base text-sm font-regular md:leading-6 leading-5 text-neutral-600 dark:text-neutral-400 flex items-center gap-1.5"
        >
          Programador Web <span class="flex items-center"
            ><svg
              class="size-4 shrink-0 dark:text-neutral-300 sm:text-neutral-300 text-neutral-700 sm:dark:text-neutral-700 group-hover:text-neutral-700 dark:group-hover:text-neutral-300 rotate-45 sm:rotate-0 group-focus-visible:text-neutral-700 dark:group-focus-visible:text-neutral-300 sm:group-hover:rotate-45 transition-all duration-300 sm:group-focus-visible:rotate-45"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                d="M7 17L17 7M17 7H7M17 7V17"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"></path></svg
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
              width="24"
              height="24"
              style="opacity:1;"
              class="size-4 sm:size-0 group-hover:size-4 fill-neutral-700 dark:fill-neutral-300 transition-all duration-300 ease-in-out"
              ><path
                d="M249.18 328.324c-9.788 15.384-19.179 30.434-40.222 45.055c-11.256 7.89-37.164 23.306-73.99 23.306C64.709 396.685 8 345.605 8 255.801c0-78.486 53.345-140.486 128.466-140.486c30.434 0 57.474 10.521 77.387 26.304c18.414 14.65 27.038 29.304 34.563 42.456l-52.58 26.273c-3.762-8.626-8.29-17.649-19.913-27.406c-12.784-10.155-25.54-13.152-36.46-13.152c-42.821 0-65.364 39.825-65.364 84.145c0 58.238 29.7 87.143 65.364 87.143c34.563 0 48.48-24.042 57.474-39.426zm184.194-204.75H504l-92.037 265.22h-67.597l-90.904-265.22h70.625l54.843 188.6z"
              ></path></svg
            ></span
          >
        </a>
      </div>
    </div><div
      class="flex items-center sm:flex-col justify-around sm:justify-start gap-1 sm:mt-0 mt-4"
    >
      <a
        target="_blank"
        href="https://www.instagram.com/brugarciaok/"
        class="flex items-center justify-center sm:justify-start w-full gap-1.5 text-sm font-medium text-neutral-600 dark:text-neutral-400 py-1 cursor-pointer hover:underline underline-offset-3 focus-visible:underline animate-fade-in-fast"
        ><Instagram classname="size-4" /> Instagram</a
      ><a
        target="_blank"
        href="https://github.com/Brunogarcia03"
        class="flex items-center justify-center sm:justify-start w-full gap-1.5 text-sm font-medium text-neutral-600 dark:text-neutral-400 py-1 cursor-pointer hover:underline underline-offset-3 focus-visible:underline animate-fade-in"
        ><Github
          classname="size-4"
          fill="fill-neutral-700 dark:fill-neutral-300"
        /> Github</a
      >
      <a
        target="_blank"
        href="https://www.linkedin.com/in/bruno-garc%C3%ADa/"
        class="flex items-center justify-center sm:justify-start w-full gap-1.5 text-sm font-medium text-neutral-600 dark:text-neutral-400 py-1 cursor-pointer hover:underline underline-offset-3 focus-visible:underline animate-fade-in-slow"
        ><Linkedin classname="size-4" /> Linkedin</a
      >
    </div>
  </div>
</div>

<style>
  .image-icon {
    background-image: url("/favicon.png");
  }
</style>
