---
const { href, title, description, icon } = Astro.props;
---

<div class="animate-reveal w-full">
  <a
    href={href}
    class="group cursor-pointer gap-3 flex items-center justify-between hover:bg-neutral-200/50 dark:hover:bg-neutral-700/50 transition-colors duration-300 focus-visible:bg-neutral-200/50"
    ><div class="flex flex-col">
      <h4
        class="flex items-center gap-1 text-base font-medium text-black dark:text-white"
      >
        {title}
        {icon ?? icon}
      </h4><p class="text-sm leading-6 text-neutral-600 dark:text-neutral-400">
        {description}
      </p>
    </div><svg
      class="size-4 shrink-0 text-neutral-300 dark:text-neutral-700 group-hover:text-neutral-700 dark:group-hover:text-neutral-300 group-focus-visible:text-neutral-700 dark:group-focus-visible:text-neutral-300 group-hover:rotate-45 transition-all duration-300 group-focus-visible:rotate-45"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      ><path
        d="M7 17L17 7M17 7H7M17 7V17"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"></path></svg
    ></a
  >
</div>
